theme = "tokyonight_storm"

[editor]
line-number = "relative"
cursorline = true
color-modes = true
true-color = true
scrolloff = 999
bufferline = "multiple"
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "hint"

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.statusline]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true
wrap-indicator = ""

[keys.normal]
";" = "command_mode"
esc = ["collapse_selection", "keep_primary_selection"]
